@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Roboto:wght@100&family=Sofia&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --colorTextos: #49454567
}
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    height: 100%;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
}
.contenedor{
    max-width: 500px;
    margin: auto;
    margin-top: 80px ;
}
h1{
    text-align: center;
    font-weight: 700;
}
form{
    background: white;
    padding: 40px 0;
    box-shadow: 0 0 6px rgba(204, 198, 198, 0.8);
    border-radius: 10px;
}
form{
    width: 100%;
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 45px;
    
}
input{
    background: none;
    color: black;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}
input:focus{
    outline: none;
    color: #5e5d5d;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}
input:focus~.barra::before{
    width: 100%;
} 

button{
    font-family: 'roboto';
    background: #45ac9c;
   
    border: none;
    display: block;
    width: 100%;
    margin: 10px auto;
    color: #fff;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}     
@media screen and (max-width: 500px){
    form{
        width: 80%;
    }
}    



