<ion-header>
  <ion-toolbar>
    <ion-title>producto</ion-title>
  </ion-toolbar>
</ion-header>
                   
<ion-content>
  <ion-grid>
    <ion-row>   
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Código</ion-label>
          <ion-input [(ngModel)]="productoAuxiliar.codigo"></ion-input>
        </ion-item>
      </ion-col>             
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Cantidad</ion-label>
          <ion-input type="number" [(ngModel)]="productoAuxiliar.cantidad" ></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Nombre</ion-label>
          <ion-input [(ngModel)]="productoAuxiliar.nombre"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Precio $:</ion-label>
          <ion-input [(ngModel)]="productoAuxiliar.precio"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-button shape="round" (click)="nuevo()" >Nuevo</ion-button>
  <ion-button shape="round" (click)="grabar()" >Grabar</ion-button>
  <ion-button shape="round" (click)="consultar()" >Consultar</ion-button>
  <ion-button shape="round" (click)="eliminar()" >Eliminar</ion-button>

  <ion-grid>
    <ion-row *ngFor="let item of productosAuxiliar">
      <ion-col size="2">
        <ion-item color="primary" (click) = "consultaIndividual(item.codigo)" >
          <ion-label position="fixed">{{item.codigo}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="fixed">{{item.nombre}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item size="2">
          <ion-label position="fixed"> $:{{item.precio}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item size="2">
          <ion-label position="fixed">{{item.cantidad}}</ion-label>
        </ion-item>
      </ion-col>

    </ion-row>            
  </ion-grid>
</ion-content>
