<ion-header>
  <ion-toolbar>
    <ion-title>consultar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 text-center>Ingresar el Número de Cédula para Consultar estado de la Tutoría</h2>
  <ion-item>
    <ion-label position="fixed">Cédula</ion-label>
    <ion-input [(ngModel)]="Nivel"></ion-input>
  </ion-item>
  <ion-button color="primary" shape="round" (click)="Consultar(Nivel)">Consultar por Cédula </ion-button>

  
  <ion-grid>
    <ion-row *ngFor="let item of tutoriaAuxiliar">
      <ion-col>{{item.docente}}</ion-col>
     
      <ion-item >
      <ion-col>{{item.detalle}}</ion-col>
    </ion-item>
    </ion-row>
</ion-grid>

<ion-item>
  <ion-label position="fixed">:</ion-label>
  <ion-input [(ngModel)]="Observacion"></ion-input>
</ion-item>


</ion-content>
