<ion-header>
  <ion-toolbar>
    <ion-title>market</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>   
    <ion-row>   
      <ion-col>
        <ion-item>
<!--           <ion-datetime displayFormat="HH:mm:ss" pickerFormat="HH:mm:ss" [(ngModel)]="myDate"></ion-datetime>
 -->          <ion-label position="floating">#Cédula:</ion-label>            
          <ion-input [(ngModel)]="productoAuxiliar.id"></ion-input>
        </ion-item>
      </ion-col>    
      <ion-col>
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="productoAuxiliar.userName"></ion-input>
          </ion-item>
        </ion-col>         
        
    </ion-row>
    <ion-row>
     
      <ion-col>
        <ion-item>
          <ion-label  position="floating">#Teléfono:</ion-label>
          <ion-input  [(ngModel)]="productoAuxiliar.order" ></ion-input>
        </ion-item>
       
      </ion-col>
     
     
      
        <ion-col>
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="productoAuxiliar.userEmail"></ion-input>
          </ion-item>
        </ion-col>
     
    </ion-row>
    <ion-row>
      
     
      

      <ion-col>
        <ion-item>
          <ion-label>Pago</ion-label>
          <ion-select placeholder="Seleccione el Pago" [(ngModel)]="productoAuxiliar.payment">
            <ion-select-option value="tarjetaCred1">Tarjeta de Crédito 1</ion-select-option>
            <ion-select-option value="tarjetaCred2">Tarjeta de Crédito 2</ion-select-option>
            <ion-select-option value="tarjetaCred3">Tarjeta de Crédito 3</ion-select-option>
          </ion-select>
        </ion-item>                 
      </ion-col>
                 
      <ion-col>
        <ion-item>
          <ion-label> Productos</ion-label>
          <ion-select multiple="true" cancelText="Cancelar" okText="OK" placeholder="Seleccione Productos" [(ngModel)]="productoAuxiliar.products">
            <ion-select-option *ngFor="let item of ProductsAuxiliar"  value="{{item.codigo}} {{item.name}}  {{item.price}} ">{{item.name}}  ${{item.price  }} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
                
  </ion-grid>                            

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>MM DD YY</ion-label>
          <ion-datetime cancelText="Cancelar" displayFormat="MM DD YY" placeholder="Seleccione la Fecha" [(ngModel)]="fecha" ></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label position="floating">Total</ion-label>
          <ion-input [(ngModel)]="productoAuxiliar.total"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
   
    
  </ion-grid>
  


  <ion-button shape="round" (click)="nuevo()" >Nuevo</ion-button>
  <ion-button shape="round" (click)="grabar()" >Grabar</ion-button>
  <ion-button shape="round" (click)="consultar()" >Consultar</ion-button>
  <ion-button shape="round" (click)="eliminar()" >Eliminar</ion-button>

  <ion-grid>
    <ion-row *ngFor="let item of productosAuxiliar">
      <ion-col size="2">
        <ion-item color="primary" (click) = "consultaIndividual(item.id)" >
          <ion-label position="fixed">{{item.id}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.order}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.payment}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-item>
          <ion-label position="fixed">{{item.products}}</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.userName}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.userEmail}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item size="1">
          <ion-label position="fixed"> $:{{item.total}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item size="1">
          <ion-label position="fixed"> {{item.estado}}</ion-label>
        </ion-item>
      </ion-col>
     <!--  <ion-col>                 
        <ion-item size="2">
          <ion-label position="fixed">{{item.cantidad}}</ion-label>
        </ion-item>
      </ion-col> -->
      <ion-col>
        <ion-item>
          <ion-datetime></ion-datetime>
        </ion-item>
      </ion-col>

    </ion-row>            
  </ion-grid>

  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
      <div class="cart-lenght">{{cartItemCount | async }} </div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>      -->                  

  

  
         

</ion-content>



        

