<ion-header>
  <ion-toolbar>
    <ion-title>tutoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button (click)="nueva()">
    <ion-icon slot="clean" name="clean"></ion-icon>
    Nueva Tutoría     
  </ion-button>

  <ion-button (click)="consulIdent()">
    <ion-icon slot="clean" name="clean"></ion-icon>
    Consultar por Identificación     
  </ion-button>
  
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Código</ion-label>
        <ion-input [(ngModel)]="tutoriaAuxiliar.codigo"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Docente</ion-label>
        <ion-input [(ngModel)]="tutoriaAuxiliar.docente"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Ident Docente</ion-label>
        <ion-input [(ngModel)]="tutoriaAuxiliar.identDocente"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <!-- <ion-col>
      <ion-item>
        <ion-label position="floating">Ident Estudiante</ion-label>
        <ion-input [(ngModel)]="tutoriaAuxiliar.identEstudiante"></ion-input>
      </ion-item>
    </ion-col> -->
    <ion-col>
      <ion-item>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime cancelText="Cancelar" displayFormat="MM DD YY" placeholder="Seleccione la Fecha" [(ngModel)]="tutoriaAuxiliar.date  " ></ion-datetime>
      </ion-item>
    </ion-col>
   
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-list>      
        <ion-list-header>
          <ion-label>
          **********************************  APARTADO ALUMNOS  **********************************
        </ion-label>
        </ion-list-header>
      
        <ion-item>
          <ion-label>Nivel de Aporte de la Tutoría</ion-label>
          <ion-select placeholder="Estado Pendiente" [(ngModel)]="tutoriaAuxiliar.detalle">
          <ion-select-option *ngFor="let item of Detalle" value="{{item.id}}">{{item.nivel}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Identificación</ion-label>
          <ion-input [(ngModel)]="alumnoAuxiliar.identificacion"></ion-input>
        </ion-item>

      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" >Nombre y Apellido</ion-label>
          <ion-input [(ngModel)]="alumnoAuxiliar.nombre"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Asignatura</ion-label>
          <ion-input [(ngModel)]="detalleAuxiliar.asignatura"></ion-input>
        </ion-item>

      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="fixed" >Temas</ion-label>
          <ion-input [(ngModel)]="detalleAuxiliar.temas"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->


    <ion-row>
      <ion-col>
        <ion-list>      
          <ion-list-header>
            <ion-label>
            **********************************  DETALLE DE LA TUTORÍA  **********************************
          </ion-label>
          </ion-list-header>
        
          
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">Asignatura</ion-label>
            <ion-input [(ngModel)]="tutoriaAuxiliar.asignatura"></ion-input>
          </ion-item>
  
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="fixed" >Temas a tratar</ion-label>
            <ion-input [(ngModel)]="tutoriaAuxiliar.tema"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>Unidad del Sílabo</ion-label>
              <ion-select placeholder="Seleccione la Unidad del Sílabo" [(ngModel)]="tutoriaAuxiliar.silabo">
              <ion-select-option *ngFor="let item of Silabo" value="{{item.silabo}}">{{item.silabo}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
   
</ion-grid>
  


 <!-- BOTONES -->

 <ion-button (click)="agregar()  ">
  <ion-icon slot="start" name="add"></ion-icon>          
  Agregar Tutoría
</ion-button>
<ion-button (click)="consultar() ">
  <ion-icon slot="consultar" name="add"></ion-icon>
  Consultar Tutoría
</ion-button>
<ion-button (click)="eliminar()  ">
  <ion-icon slot="delete" name="add"></ion-icon>
  Eliminar Tutoría
</ion-button>
<ion-button (click)="agregarAlumno()  ">
  <ion-icon slot="start" name="add"></ion-icon>
  Agregar Alumno
</ion-button>
<ion-button (click)="agregarDetalle()  ">
  <ion-icon slot="start" name="add"></ion-icon>
  Añadir Detalle
</ion-button>



<ion-grid>
  <ion-row *ngFor="let item of tutoriasAuxiliar" >
    <ion-col size="2">
      <ion-item color="primary" (click) = "consultaIndividual(item.codigo)" >
        <ion-label position="fixed">{{item.codigo}}</ion-label>
      </ion-item>
    </ion-col>
           
    <ion-col size="2">
      <ion-item>
        <ion-label position="fixed">{{item.docente}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label position="fixed">{{item.asignatura}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label position="fixed">{{item.identDocente}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label position="fixed">{{item.identificacion}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label position="fixed">{{item.temas}}</ion-label>
      </ion-item>
    </ion-col>

    <ion-col>       
      <ion-item>
        <ion-label position="fixed">{{item.detalle}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
