img.Filter{
    filter:brightness(0.85);
    background-color: rgb(25, 163, 12);
}

.row3{
     padding: 8px;
     color: rgb(0, 38, 255);
}
.row1{
    color: black;
}
.row2{                   
    display: inline-flex;
    padding: 1%;
    margin-left: 20%;
}

