.contenedor {
	width: 100%;
	margin: auto;
	text-align: center;
    margin-bottom: 50px;
    
}

.columx2 {
	width: 80%;
	display: inline-block;
	padding: 20px 20px;
	box-sizing: border-box;
}

.columna {
	height: 200px;
    background:rgb(158, 176, 235);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	
}

.columx2 h1 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #4e3224;
}

.columx2 img {
	width: 100%;
	margin: auto;
}


