@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100&family=Roboto:wght@100&family=Sofia&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}                         
html{
    height: 100%;
}
.link {
    
    text-decoration: none;
    color: blue;   
}

h2.center{
    text-align: center;
    margin-top: 80px;
}
h1{
    text-align: center;
}
 