<ion-header>
  <ion-toolbar>
    <ion-title>acercade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <p>El equipo Market Online te da la bienvenida,
    Supermercados Electrónicos del Ecuador S.A., nace gracias al firme compromiso de sus socios
     en brindar productos y servicios de calidad a sus clientes. Creamos el modelo de negocio pensando 
     en las familias y en el tiempo que dedicamos a las actividades que generan valor. Realmente dedicar tiempo valioso 
     pasando en un supermercado tradicional sumado al tráfico, parqueo, caminata, búsqueda de productos, filas y un largo 
     etcétera no era algo para nosotros; por eso decidimos crear el primer Supermercado 100% Online del Ecuador con entrega 
     directa al hogar; algo que nos llena de orgullo y nos motiva a seguir sirviendo cada vez mejor a quienes confían en nuestro servicio.
    </p>


     
</ion-content>
